*{
  margin: 0;
  padding: 0;
}
body,html{
  width: 100%;
  height: 100%;
}
.Content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.MyImg{
  width: 50%;
  height: 50%;
}

.MyImg > img{
  width: 100%;
}
@media screen and (max-width: 800px) {
  .MyImg{
  width:90%;
}
}